$font-family-base: 'regular', sans-serif;
$font-family-bold: 'bold', sans-serif;

@font-face {
  font-family: 'bold';
  src: url('../../fonts/bold-webfont.woff2') format('woff2'),
  url('../../fonts/bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'regular';
  src: url('../../fonts/regular-webfont.woff2') format('woff2'),
  url('../../fonts/regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  color: map-get-deep($palettes, 'primary', 'color');
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: map-get-deep($palettes, 'primary', 'lighter');
}
::-moz-placeholder { /* Firefox 19+ */
  color: map-get-deep($palettes, 'primary', 'lighter');
}
:-ms-input-placeholder { /* IE 10+ */
  color: map-get-deep($palettes, 'primary', 'lighter');
}
:-moz-placeholder { /* Firefox 18- */
  color: map-get-deep($palettes, 'primary', 'lighter');
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-family-bold;
}

h2 {
  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.9rem;
  }
}
