html,
body {
  background: map-get-deep($palettes, 'primary', 'base');
  margin: 0;

  * + * {
    margin-top: 1.5em;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
