.button {
  color: map-get-deep($palettes, 'primary', 'color');
  border: 2px solid map-get-deep($palettes, 'primary', 'color');
  border-radius: 1.5em;
  height: 2.5em;
  display: inline-block;
  line-height: 2.5;
  padding: 0 2em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family-bold;
}
