head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name="description" content="A Front End starter kit using Gulp and Express.js that helps you build fast, modern websites.")
  title #{title}

  link(rel='manifest', href='site.webmanifest')
  link(rel='apple-touch-icon', href='icon.png')

  link(href= distUrl + 'styles/main.min.css' rel='stylesheet' type='text/css')
  