block vars
include ../_base/variables
include ../_base/mixins

doctype html
html

  include ../_modules/head

  body(class= bodyClass)

    include header

    main
      block content

    include footer

    block additionnalBlock

    script(src=distUrl + 'scripts/main.min.js')
